<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#05ecc0" type = "ball-scale-ripple-multiple" [fullScreen] = "true"><p style="color: #05ecc0" > Loading... </p></ngx-spinner>
<nav class="navbar shadow-sm navbar-expand-lg bg-Gradient-Custom" >
  <div class="container-fluid">
    <a class="navbar-brand" href="/dashboard"><Img src="/assets/MedKeepLogo.png" alt="Medi Keep" style="height: 30px;"></a>
    <button class="navbar-toggler" style="background-color: rgba(14, 164, 122,0.5) !important;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" *ngIf="this.authService.isLoggedIn">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/patient">Patient records</a>
        </li>
      </ul>
      <span class="navbar-text mr-1" *ngIf="this.authService.isLoggedIn">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome {{usename}}
          </a>
        
          <ul class="dropdown-menu">
            <li>
              <a  [routerLink]="['/user-profile/',this.userId]" class="text-dark dropdown-item"
              > User Profile</a
            >
            </li>
            <li>
              <button
    (click)="logout()"
    
    type="button"
    class="dropdown-item"
  >
    Logout
  </button>
            </li>
            
          </ul>
        </div>
       
    
      </span>
    </div>
  </div>
</nav>
<div class="">
  <div class="mt-3 p-3">
    <router-outlet></router-outlet>
  </div>
</div>