<div class="container">
  <!-- <div class="card shadow w-75 m-auto">
    <div class="card-header">
      <h4 style="color: #4082D4;">User Profile</h4>
    </div>
    <div class="card-body">
      <div class="inner-main">
        <div class="row mb-1">
          <div class="col-md-2 col-sm-4">
            <label>Name:</label>
          </div>
          <div class="col-md-4 col-sm-8">
            <input type="text" id="txtUserName" class="form-control" value="{{ this.currentUser.name }}"/>  
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-md-2 col-sm-4">
            <label>Email:</label>
          </div>
          <div class="col-md-4 col-sm-8">
            <input type="email" id="txtUserName" class="form-control" value="{{ this.currentUser.email }}"/>  
          </div>
        </div>
      </div> -->
      <div *ngIf="showAlert" class="alert alert-dismissible" [class]="alertClassName" style="z-index: 9999;" role="alert">
        <div>{{ errMsg }}</div>
        <button type="button" class="btn-close" (click)="showAlert = false" aria-label="Close"></button>
        </div>
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card shadow mb-4 mb-xl-0">
                <div class="card-header bg-primary bg-gradient text-white">Profile Picture</div>
                <div class="card-body bg-light bg-gradient text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" style="height: 150px; width: 150px;"
                    src="{{this.currentUser.profileImage}}"
                    alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">&nbsp;</div>
                    <!-- Profile picture upload button-->
                    <button class="btn btn-primary" type="button" (click)="openModal(modalContent)">Upload new image</button>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card  shadow mb-4">
                <div class="card-header bg-primary bg-gradient text-white">User Details</div>
                <div class="card-body bg-light bg-gradient">
                    <form>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
                            <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="{{ this.currentUser.name }}">
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">Designation</label>
                                <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your Designation" value="{{this.currentUser.designation}}">
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Address</label>
                                <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location" value="{{this.currentUser.adderess}}">
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                            <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="{{ this.currentUser.email }}">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="{{this.currentUser.mobile}}">
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Date of birth</label>
                                <input class="form-control" id="inputBirthday" type="date" name="birthday" placeholder="Enter your birthday" value="06/10/1999">
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="button">Save changes</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
  </div>
  <ng-template #modalContent let-modal>
    <div class="modal-header bg-primary bg-gradient text-white">
      <h4 class="modal-title" id="modal-image-upload">Upload Profile Image</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click'); this.validUpload = false">
        <span aria-hidden="true"></span>
      </button>
    </div>
    <div class="modal-body bg-light bg-gradient">
      <!-- Modal content here -->
      <div *ngIf="authError" class="alert alert-danger alert-dismissible" style="z-index: 9999;" role="alert">
        <div>{{ errMsg }}</div>
        <button type="button" class="btn-close" (click)="authError = false" aria-label="Close"></button>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <label class="text-primary mb-1 align-middle p-2">Upload Image <span class="text-danger">(png or jpg format allowed)</span> </label>
            <input type="file" class="form-control align-middle" id="flImage" name="profileImage" style="width: 350px;" (change)="onFileSelected($event)"/>
          </div>
          <div class="col-md-6">
            <div class="card bg-light bg-gradient shadow mb-4 mt-4" *ngIf="validUpload" style="width: 210px; height: 210px;">
              <img class="m-auto" src="{{this.base64String}}" style="width: 200px; height: 200px;">
          </div>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" *ngIf="validUpload" class="btn btn-success" (click)="uploadImage()">Upload</button>
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel'); this.validUpload = false">Close</button>
      <!-- Additional modal footer buttons -->
    </div>
  </ng-template>